<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div style="border: #a8a8a8 1px solid; width: 40rem; padding: 1rem;">
        <img src="https://www.skhu.ac.kr/sites/skhu/images/common/logo_w.png" width="100rem">
        <h2 style="text-align: center;">
            금일 주문 내역을 보내드립니다.
        </h2>
        <hr/>
        <p style="text-align: center; font-size: large;">
            안녕하세요 %받는분%님 스쿠몰 %교수명% 입니다.
        </p>
        <p style="margin-top: 2rem; text-align: center; font-size: large;">
            금일 쇼핑몰로 주문 들어온 주문건들을 보내드립니다.
        </p>
        <p style="text-align: center; font-size: large;">
            확인 해보시고 발주 부탁드립니다.
        </p>
        <p style="text-align: center; font-size: large;">
            스쿠몰 %교수명% 드림
        </p>
    </div>
</body>
</html>